/*Hero Area Style Start here*/
.hero-area{

	background-image: url(../images/.jpg)!important;
	background-size: 100% 100%;
}





.hero-content h1 {
	color: white;
	margin: 30px 0px;
	padding: 52px 0px;
	font-size: 39px;
}

.hero-content h6 {
	color: #d6d6d6;
	padding-top: 38px;
}

.hero-content {
	text-align: center;
	padding: 96px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*Hero Area Style Start here*/


/*Coming soon Area Style Start Here*/

.coming-soon {
	padding: 67px 0px;
}

.coming {
	width: 695px;
	margin: 0 auto;
	text-align: center;
}

.coming p {
	margin: 29px 0px;
	font-family: ubuntu;
	color: #a6a6a6;
}

.coming-dives {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 91px;
}

.coming-counter h2 {
	font-size: 58px;
	font-weight: 500;
}

.coming-counter p {
	text-align: center;
	font-family: ubuntu;
	font-weight: 400;
	color: #666666;
}

.coming-counter {
	border: 1px solid #ccc;
	padding: 17px 84px;
}

.coming h1 {
	font-weight: 700;
	font-size: 47px;
}


/*Coming soon Area Style End Here*/